{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->

    <h1>{{mensaje}}</h1>
    <br>
    {% if request.user.is_authenticated %}
     <button><a href="{% url 'logout' %}">Salir</a></button>
    {% endif %}
    {% if request.user.is_authenticated %}
                
            <h3 class="text-muted small mb-4 mb-lg-0">Hola, {{user.username}} </h3>
            <img src="{{url_imagen}}" style="height: 40px; width: 45px;" >
    {% endif %}
    <h3>Podes buscar una camada:</h3>

    <form action="/AppCoder/buscar/" method="GET">

        <input type="number" name="camada" id="camada">

        <input type="submit" value="Buscar">




    </form>

    

    {% if cursos %}

    <p>Estamos buscando el: {{camada}}</p>

    <ul>
	{% for curso in cursos %}
		<li> {{curso.nombre}} </li>
		<li> {{curso.camada}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}